<section class="container">
	<section class="row" id="question-form">
		<%= render :partial => "shared/profile_image", :locals => { :offset => '2', :border => 'blue-border', :name => 'Kees V.'} %>
		<section class="span8 form">
			<%= render :partial => "forms/question_form" %>
		</section>
	</section>
</section>

<section class="" id="questions">
	<section class="container">
		<% @questions.each_with_index do |q, i| %>
			<%= render :partial => "shared/question_template", :locals => { :question => q, :index => i } %>
		<% end %>
	</section>
</section>