<section class="container">
	<section class="question-area row relative">
		
		<div class="row extra">
			<span class="span1 offset3 left">Beantwoord</span>
			<i class="span2 offset5 right">16:00 26/05/2013</i>
			<div class="clearfix"></div>
		</div>
		<%= render :partial => "shared/profile_image", :locals => { :border => 'blue-border', :name => 'Kees V.'} %>
		<article class="span8 question-card">
			<header>
				<h1 class="title">
					<%= @question.title %>
				</h1>
			</header>
			<div class="question">
				<%= @question.question %>
			</div>
			<hr class="line">
			<span class="category">Categorie</span>
		</article>
		<div class="row extra">
			<span class="span1 offset3 left">Favorite</span>
			<span class="span2 offset5 right">Delen</span>
			<div class="clearfix"></div>
		</div>
	</section>
</section>