<section id="question-form">
	<img src="" alt="" width="75" height="75"/>
	<form method="post">
		<input type="text" name="title" placeholder="Titel..."/>
		<textarea name="question" placeholder="Beschrijf je vraag..." rows="15" cols="30"></textarea>
		<input type="text" name="keywords" placeholder="Keywords..."/>
		<select name="categorie">
			<option>Porsche</option>
			<option>Opel</option>
			<option>Toyota</option>
		</select>
		<button name="submit" type="submit">Vraag</button>
	</form>
</section>