<section id="question-form">
	<section class="profile-photo">
		<img src="" alt="" width="75" height="75"/>
	</section>
	<section class="form">
		<form method="post">
		<input type="text" name="title" placeholder="Titel..."/>
		<textarea name="question" placeholder="Beschrijf je vraag..." rows="15" cols="30"></textarea>
		<input type="text" name="keywords" placeholder="Keywords..."/>
		<select name="categorie">
			<option>Dak onderhoud</option>
		</select>
		<button name="submit" type="submit">Vraag</button>
	</form>
	</section>
</section>

<section id="answers">
	<article id="answer">
		<section class="profile-photo">
			<img src="" alt="" width="75" height="75"/>
		</section>
		<section class="answer">
			<p>Dit is het eerste antwoord op deze vraag!</p>
			<p>Categorie Dak Onderhoud</p>
			<p>47 minuten geleden.</p>
			<img class="favorite" src="" alt="Favorite" width="30" height="30"/>
			<img class="comment"src="" alt="Comment" width="30" height="30"/>
		</section>
		<div id="clearfix"></div>
	</article>

	<article id="answer">
		<section class="profile-photo">
			<img src="" alt="" width="75" height="75"/>
		</section>
		<section class="answer">
			<p>Dit is het eerste antwoord op deze vraag!</p>
			<p>Categorie Dak Onderhoud</p>
			<p>47 minuten geleden.</p>
			<img class="favorite" src="" alt="Favorite" width="30" height="30"/>
			<img class="comment"src="" alt="Comment" width="30" height="30"/>
		</section>
		<div id="clearfix"></div>
	</article>

	<article id="answer">
		<section class="profile-photo">
			<img src="" alt="" width="75" height="75"/>
		</section>
		<section class="answer">
			<p>Dit is het eerste antwoord op deze vraag!</p>
			<p>Categorie Dak Onderhoud</p>
			<p>47 minuten geleden.</p>
			<img class="favorite" src="" alt="Favorite" width="30" height="30"/>
			<img class="comment"src="" alt="Comment" width="30" height="30"/>
		</section>
		<div id="clearfix"></div>
	</article>
</section>