<section class="span1 offset<%= offset %> profile-photo">
	<%= 
		image_tag("anonymous.png", :alt => "Profile Picture", :class => "profile-photo #{border}", :width => "50", :height => "50") 
	%>
	<%= name %>
</section>