// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require main
 */

@import "bootstrap";

body {
	font-family: InterFace;
	background: #F5F5F5;

	.question-area{
		padding: 50px 0px 0px 0px;

		.line {
			width: 660px;
			margin: 20px 0px 0px -20px;
		}

		.extra {
			margin: 0;
			.left, .right {
				padding: 5px 0px;
			}
			.right {
				text-align:right;
				margin-left:458px;
			}
		}
		.end {
			padding: 50px 0px 0px 0px;

			.right {
				text-align: right;
				margin-left: 378px;
			}
		}
	}

	.question-card {
		height: auto;
		padding: 20px;
		background: #fff;
		border-radius: 5px;
		box-shadow: 3px 3px 4px 0 #e0dfdf;

		.title {
			padding: 0px 0px 10px 0px;
			margin: 0;
			font-size: 30px;
		}
	}

	.comment-form {
		background: #E7E5E6;
		border-top: 2px solid #CACACB;
		border-bottom: 2px solid #CACACB;
		padding: 50px 0px;

		.container {

			textarea {
				margin-left: 20px;
				margin-bottom:0;
				padding: 0 42px 0 10px;
				resize: none;
				border-top-left-radius:10px;
				border-top-right-radius:10px;
			}
			.buttons {
				width:660px;


				button, .button {
				background: #fff;
				width: 220px;
				float: left;
				border: 1px solid #ccc;
				border-top: none;
				height: 40px;
				}
				:first-child {
					border-right:none;
					border-bottom-left-radius: 10px;
				}
				:last-child {
					border-bottom-right-radius: 10px;
					border-left: none;
				}
			}
			
		}
	}

	.comments {
		.container{			
			.comment {
				margin: 25px 0px;

				.chosen-answer {
					position: absolute;
					top: 7px;
					width: 20px;
				}

				.comment-card {
					background: #fff;
					border:1px solid #ccc;
					padding: 20px 0px 20px 20px;
					border-radius: 20px;
					width: 558px;
				}
				.time {
					margin-left: 5px;
				}
			}

			.comment:nth-child(even) {
				section.profile-photo {
					float: right;
					margin-left: 20px;
					margin-right:100px;
				}

				.chosen-answer {
					right: 80px;
				}

				.comment-card {
					float:right;
					text-align:right;
					margin-left:0px;
					padding: 20px 20px 20px 0px;
				}
				.time {
					float:left;
					text-align: right;
					margin-left:100px;
					width:75px;
				}
			}

			.comment:nth-child(odd) {
				.chosen-answer {
					left: 80px;
				}
				.time {
					text-align:right;
				}
			}
		}
	}
}